.container {
	width: 680px;
	margin: 0 auto;
	padding: 10px;
}

.container1 {
	width: 680px;
	margin: 0 auto;
	padding: 10px;
}

.video-responsive { 
    overflow:hidden; 
    padding-bottom:56.25%; 
  	position:relative; 
	height:0;
}

.video-responsive iframe {
	left:0; 
	top:0; 
	height:100%;
	width:100%;
	position:absolute;
}